/* 
    Document   : footer
    Created on : Nov 28, 2011, 4:13:44 PM
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/


footer#main-footer{
    margin-top: 10px;
    height: 360px;
    background: url('/images/generic/bg_footer.gif') repeat-x left top;
    display: block;
    width: 100%;
    color: white;
    padding-top: 20px;
    font-size: 100%;
    line-height: 18px;
    margin:0;
    color: white;
}

footer#main-footer a{
    color:#ACACAC;
}

footer#main-footer a:hover{
    color:white;
}

footer#main-footer ul{list-style: none;}

footer#main-footer h2.section{
    border-bottom: 1px solid #ababab;
    padding-bottom: 3px;
    color: white;
    font-size: 127%;
    margin-bottom: 8px;
}

footer#main-footer h2{
    color: white;
    font-size: 109%;
    font-weight: bold;
    margin: 0;
}

footer#main-footer article{
    margin-bottom:12px;
    overflow: auto;
}

footer#main-footer p{
    color: #ACACAC;
    margin:0;
}

footer section#footer-deals article{
    clear: left;
}

footer#main-footer .price{text-align: right;}

article.foot-deal{margin-bottom: 18px;}
article.foot-deal .img{width: 70px; margin-right:7px; float: left;}
article.foot-deal img{width: 70px; margin:0;}
article.foot-deal .desc{width: 170px; float: left;margin:0;}
article.foot-deal .price{width: 50px; float: right; font-size: 110%;margin:0; color: white;}