/* 
    Document   : generic
    Created on : Nov 28, 2011, 3:18:46 PM
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

a{
    text-decoration: none;
}

