/* 
    Document   : admin
    Created on : Apr 27, 2011, 9:25:21 PM
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{margin: 0; padding:0;}

a{text-decoration: none;}


#content{
    padding: 20px;
}

root { 
    display: block;
}

input{
    padding:2px;
}

.large{
    min-width: 450px;
    
}

#header{
    height: 50px;
    display: block;
    background: white;
    position: relative;
    padding-left: 20px;
    border-bottom: 1px solid #0c4878;
}

/* LANGUAGE DROP MENU */

#language-container{
    float: right;
}

#other-language li{
    display: inline;
}

#other-language li img{
    margin-right: 4px;
}

#navigation{
    background-color: #0c4878;
    margin:0;
    padding:0;
    border-bottom: 1px solid #0c4878;
    overflow: hidden;
    color: white;

}

#navigation li{
    display: inline;
    
}

#navigation li a{
    padding:5px 10px;
    display: block;
    float: left;
    aborder-right: 1px solid #beddf8;
    color: white;
    background: url('../images/generic/bg_main_nav_btn.png') right top repeat-y;
}

#navigation a:hover{
    
    background: none;
    background-color: #a3b9cb;
    color: #0c4878;
}

#sf_admin_container{
    position: relative;
    overflow: hidden;
    border: 0px solid red;
    width: 101%;
    min-height: 800px;
}

#sf_admin_bar{
    position: absolute;
    right: -600px;
    display: none;
    -moz-box-shadow: 0px 1px 3px #888;
    -webkit-box-shadow: 0px 1px 3px #888;
    box-shadow: 0px 1px 3px #888;
}

#filter{
    float: right;
}

ul.inline{
    list-style: none;
    margin:0;
    padding:0;
    margin-bottom: 20px;
}

ul.inline li{
    margin-right: 10px;
    display: inline;
}

a.add-note{
    background: url("../sfDoctrinePlugin/images/note_add.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
    height: 17px;
    padding-bottom: 3px;
}

a.add-question{
    background: url("../sfDoctrinePlugin/images/help.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
    height: 17px;
    padding-bottom: 3px;
}

a.delete{
    background: url("../sfDoctrinePlugin/images/delete.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
    height: 17px;
    padding-bottom: 3px;
}

a.edit{
    background: url("../sfDoctrinePlugin/images/edit.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
    height: 17px;
    padding-bottom: 3px;
}

a.add-answer{
    background: url("../sfDoctrinePlugin/images/email_go.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
    height: 17px;
    padding-bottom: 3px;
}

#clarifications-table{
    width: 100%;
}

.clarification-list{
    margin:0;
    padding:0;
    list-style: none;
}

.clarification-list li{
    list-style: none;
    margin-bottom: 5px;
}

ul.plain{
    margin:0;
    padding:0;
}

ul.plain li{
    list-style: none;
    list-style-position: inside;
}

ul.plain li img{
    margin: 0 3px 0 0;
    list-style: none;
    list-style-position: inside;
}

a.pms-doc-link{
    font-size: 80%;
}