/* 
    Document   : custom.ss
    Created on : Nov 7, 2011, 8:34:59 AM
    Author     : david
    Description:
        Customization of blueprint css

--------------------------------------------------------------------------------------- */

.hidden{overflow: hidden;}
.overflow{overflow: auto;}

.noMargin{margin: 0;}
.noPadding{padding: 0;}
.minMargin{margin-bottom: 2px;}
.marginLeft{margin-left: 1px;}
.paddingTop{padding-top:8px;}
.paddingTop2{padding-top:4px;}
ul.marginRight li{margin-right: 10px;}
ul.marged li{margin: 7px;}


table{border-collapse: collapse;}
table.narrow td{padding: 0px}
table.middle td:first-child{padding-top: 10px;}
td{vertical-align: top;}
td.center, div.center, th.center{text-align: center}
td.middle{vertical-align: middle;}
td.bottom{vertical-align: bottom; }
td.text-right, div.text-right{text-align: right;}
div.right{float:right}


._35{width: 35px; float: left; display: block;}
._55{width: 55px; float: left; display: block;}
._90{width: 90px; }
._110{width: 110px; }
._120{width: 120px; }
._150{width: 150px; }

hr.dotted{background: none;}
hr.blue2{border-color:#a3b9cb}
hr.space1{margin-bottom: 2px; border: none;visibility:hidden;}
.separator{height: 1px; display: block; float: left; background-color: #a3b9cb;}

div.box1, div.box1-2{
    border: 1px solid #E5E5E5;
    background-color:#F5F5F5 ;
    clear: both;
}

div.box1-2{
    border-width: 2px;
    padding: 8px 13px;

}


div.box2, table.box2{
    border-color: white;
    box-shadow: 0 0 2px #777777;
}

ul.marged, ol.marged {margin:0 1.5em 1.5em 0;padding-left:1.5em;}

/* Generic style --------------------------------------------------------------------------------------- */
.strong{color:#ED145B; font-weight: bold;}
.bold{font-weight: bold;}
.blue1{color:#0c4878}
.blue2{color:#a3b9cb}
.blue3{color:#beddf8}
.blue4{color:#e0edf8}
.color2{color:#ED145B;}
.white{color: white}

.grey1{color: #858585;}
.grey2{color: #aaaaaa;}
.grey3{color: #cdcdcd;}
.grey0{color: #353535;}

.bg1{background-color:#e8e8e2}
.bg2{background-color:#f6f6f0}
.bg3{background-color:#aaaaaa}
.bg4{background-color:#adfecd}

.hide{display: none;}

ul.none{list-style: none; margin:0 ;padding:0}
ul.none li{width: auto; height: auto;}

ul.inline{margin: 0; padding: 0; clear: both;}
ul.inline li{display: inline; list-style: none; float: left;}
li.inline{display: inline}
ul.entourage{border: 1px solid #CECECE; border-left: none; border-right: none; overflow: auto; padding: 5px 0; margin: 0;}
ul.entourage li{display: inline; list-style: none; float: left; margin-right: 6px;}

img.bordered, img.border{border: 1px solid #efefef; padding:2px; background-color: white;}
img.bordered2{border: 1px solid #aaaaaa; padding:2px;}
img.shadow{box-shadow: 0 0 2px #777777; border:1px solid white;}

dl.type-1 { margin-bottom:50px; margin-top: 10px;}
dl.type-1 dt {float:left; margin-right:4px; padding: 0 5px 0 0;width:80px;}
dl.type-1 dd { margin:0; padding:2px 0;}



/* Table styles */
table.style1{
    border: 1px solid #cdcdcd;
    font-size: 120%;
}

table.style1 td{
    padding: 8px;
}

table.style1 tr.header_1{
    border: 1px solid #cdcdcd;
    background-color: #F8F8F6;
    background-image: none;
}

table.style1 tr.footer_1{
    border: 1px solid #cdcdcd;
    background-color: #E0EDF8;
    background-image: none;
}

tr.bold td{
    font-weight: bold;
}

table.style2{
    border: 1px solid #cdcdcd;
    font-size: 100%;
}

table.style2 th{background-color: #eff7fd; border-bottom: 1px solid #cdcdcd}

table.style2 td{
    border-bottom: 1px dotted #cccccc;
    padding-bottom: 8px;
}

table.style2 tr.even td {background:#e5ecf9;}

/* Typography --------------------------------------------------------------------------------------- */

body{color: #333333;}

a{color: #0c4878; text-decoration: none; cursor: pointer; cursor: hand;}
a:hover{color: #ED145B}

a.remove{background: white url('../images/icons/12-em-cross.png') no-repeat 6px 4px;
         padding:0px 8px 1px 22px;
         -moz-border-radius: 12px;
         -webkit-border-radius: 12px;
         border-radius: 12px;
         border: 1px solid white;
}

a.remove-small{
    background: url('../images/icons/12-em-cross.png') no-repeat 5px 3px;
    padding-left: 15px;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    padding: 2px 0px 2px 22px;
    font-size: 80%;
    text-indent: -1000em;
    overflow: hidden;
}

a.remove:hover{border-color: #a3b9cb; background-color:#a3b9cb; color: white }

a.search-magnifier {
    background: url("../images/famfamfam/magnifier_1.png") no-repeat scroll 3px 3px transparent;
    border: 0 solid red;
    display: block;
    float: left;
    height: 24px;
    margin: 4px 0 0 8px;
    overflow: hidden;
    text-indent: -200px;
    width: 25px;
}

a.add {
    background: url("../images/icons/add-transparent.png") no-repeat scroll 4px 3px white;
    border-radius: 10px 10px 10px 10px;
    font-size: 90%;
    font-weight: normal;

    padding: 2px 8px 4px 25px;
}
a.add:hover {
    background-image: url("../images/icons/add.png");
    border-color: #a3b9cb; 
    background-color:#a3b9cb;
    color: white
}

a.search-magnifier:hover {
    background-image: url("../images/icons/magnifier_go.png");
}

a.print, a.send, a.savePDF{
    height: 25px;
    display: block;
    line-height: 26px;
    padding-left: 22px;
    overflow: hidden;
    background: url('../images/icons/printer.png') no-repeat left 4px;
}

a.send{
    background-image: url('../images/icons/email.png');
}

a.savePDF{
    background-image: url('../images/icons/page_white_acrobat.png');
}

.big{font-size: 115%; line-height: inherit;}
.bigger{font-size: 150%;line-height: inherit;}
.biggest{font-size: 172%;line-height: inherit;}
.biggest2{font-size: 192%;line-height: inherit;}
.biggest3{font-size: 232%;line-height: inherit;}

button.big{font-size: 110%;}
button.bigger{font-size: 120%;}
button.biggest{font-size: 142%;}

.price{
    font-weight: bold;
    font-size: 147%;
    color: #0c4878;
    text-align: right;
}

.small{font-size: 95%; margin-bottom: 5px; line-height: inherit;}
.smaller{font-size: 87%;line-height: inherit;}
.smallest{font-size: 72%;line-height: inherit;}

button.small{font-size: 95%;}
button.smaller{font-size: 87%;}
button.smallest{font-size: 72%;}

.dotted, .dotted2{
    border-bottom: 1px dotted #0c4878;
    padding-bottom: 4px;
    margin: 2px 0 4px;
}
.dotted2{border-color:#a3b9cb}


/* Titles */
h2.flight, h2.hotel, h2.car{
    border-bottom:1px solid #0c4878;
    border-bottom-color: #a3b9cb;
    color: #0c4878;
    padding-bottom: 2px;
    background: url('../images/mobico/flight.png') no-repeat left top;
}

.title{border-bottom: 1px solid #CECECE; padding: 4px;}
.title2{
    font: 18px/18px 'Telex', Arial, sans-serif;letter-spacing: 0;
    border-bottom: 1px solid #CECECE;
    padding: 4px;
    color: #0c4878
}

.options-title{
    font: 14px/14px 'Telex', Arial, sans-serif;
    color: #0c4878;
    border-bottom: 1px solid #CECECE;
    padding: 4px 0 4px 35px;
    background: url('../images/mobico/dining-options.png') no-repeat left top;
    margin-bottom: 3px;
    margin-top: 12px;
}

.room-options{background: url('../images/mobico/room.png') no-repeat left top; padding-left: 35px;}
.dining-options{background: url('../images/mobico/dining-options.png') no-repeat left top; padding-left: 35px;}
.tour-activity{background: url('../images/mobico/tour-activity.png') no-repeat left top; padding-left: 35px;}
.car-options{background: url('../images/mobico/car.png') no-repeat left top; padding-left: 35px;}
.protection{background: url('../images/mobico/protection.png') no-repeat left 10px; padding-left: 35px;}

.checked, .checked-small{background: url('../images/icons/24-em-check.png') no-repeat left top; padding-left: 30px;}
.checked-small{background-image: url('../images/icons/16-em-check.png'); list-style: none;}


/* font-face */

.fontface{
    font-family: 'PT Sans Narrow', serif;
}



/* Forms --------------------------------------------------------------------------------------- */

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="url"],
select,
textarea{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin: 5px 0 0;
    outline: 0 none;
    position: relative;
    border-color: #a3b9cb;
}

select{ padding: 5px; }
select.type2{padding: 1px 2px}

.button.action, button.action, input[type=submit], input[type=reset], a.button{
    background-color: #FF4B9B;
    background-image: -moz-linear-gradient(0% 100% 90deg, #FF3787, #FF4B9B);
    border: 1px solid #EB2373;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 #EB2373;
    font-family: Arial;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding:2px 18px;
    letter-spacing: .5px;
    text-transform: capitalize;
}


.button.action.blue, button.action.blue, input[type=submit].blue, a.button.blue{
    background-color: #0c4878;
    background-image: -moz-linear-gradient(0% 100% 90deg, #0c4878, #186cb4);
    border: 1px solid #0c4878;
    text-shadow: -1px -1px 0 #0c4878;
}

.button.action:hover, button.action:hover, input[type=submit]:hover, a.button:hover {
    background-color: #FF3787;
    background-image: -moz-linear-gradient(0% 100% 90deg, #EB2373, #FF3787);
    border-color: #D70F5F;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 #D70F5F;
}

a.small{
    font-size: 80%;
    padding:0 20px;
}

.button.action:active, button.action:active {
    background-color: #D70F5F;
    background-image: -moz-linear-gradient(0% 100% 90deg, #EB2373, #D70F5F);
    color: #FFFFFF !important;
    text-shadow: 1px 1px 0 #D70F5F;
}
.button.success, button.success, input.success {
    background-color: #585858;
    background-image: -moz-linear-gradient(0% 100% 90deg, #444444, #585858);
    border: 1px solid #303030;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 #303030;
}
.button.success:hover, button.success:hover, input.success:hover {
    background-color: #444444;
    background-image: -moz-linear-gradient(0% 100% 90deg, #303030, #444444);
    border-color: #1C1C1C;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 #1C1C1C;
}
.button.success:active, button.success:active {
    background-color: #1C1C1C;
    background-image: -moz-linear-gradient(0% 100% 90deg, #303030, #1C1C1C);
    color: #FFFFFF !important;
    text-shadow: 1px 1px 0 #1C1C1C;
}
.button.info, button.info, input.info {
    background-color: #B5B0A6;
    background-image: -moz-linear-gradient(0% 100% 90deg, #A19C92, #B5B0A6);
    border: 1px solid #8D887E;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 #8D887E;
    padding: 2px;
}
.button.info:hover, button.info:hover, input.info:hover {
    background-color: #A19C92;
    background-image: -moz-linear-gradient(0% 100% 90deg, #8D887E, #A19C92);
    border-color: #79746A;
    color: #FFFFFF !important;
    text-shadow: -1px -1px 0 #79746A;
}
.button.info:active, button.info:active {
    background-color: #79746A;
    background-image: -moz-linear-gradient(0% 100% 90deg, #8D887E, #79746A);
    color: #FFFFFF !important;
    text-shadow: 1px 1px 0 #79746A;
}

fieldset.type1{
    border: 1px solid #a3b9cb;
    background-color: #eff7fd;
    border-radius: 2px 2px 2px 2px;
    overflow: hidden;
}

fieldset.type1.noborder{
	border: none;
	margin-bottom: 0;
}

fieldset.type1 h5{
    font-weight: bold;
    color:#0c4878;
    border-bottom: 1px dotted #0c4878;
    padding-bottom: 4px;
    margin-bottom: 4px;
    font-size: 110%;
}

td{vertical-align: top;}
table.form td{ margin: 0;padding: 0;}
table.form2 td{ margin: 0;padding: 4px 4px 0 0;}
fieldset.type1 ul.radio-list{ list-style: none; padding:0; margin:10px 0; font-weight: bold}
fieldset.type1 ul.radio-list{ list-style: none; padding:0; margin-right: 0;}
fieldset.type1 label{font-size: 85%}
fieldset.type1 ul.radio-list li.inline{ display: inline;}
div.child-age{float: left; margin-right: 5px;}
table.number-nights td{padding: 0;}
table.formRoom{margin: 0;}
table.passengers tr{
    border-top: 1px solid #a3b9cb;
    border-bottom: 1px solid #a3b9cb;
}

span.error{padding:4px; margin-top: 3px;}
ul.error_list{list-style: none; margin:0; padding:0; display:table-cell;}

ul.error_list li{
    color: #B10000;
    margin:3px 7px 0 0;
    border: 1px solid #f4c5c6;
    background-color: #f8e4e5;
    padding:2px 5px;
    overflow: visible;
    font-size: 90%;
}

a.dest-pop-up{
    margin: 8px 0 0 4px;
    float: left;
}

td.bottom ul.checkbox_list{margin:0 0 4px 0; list-style: none;}


.ui-datepicker-trigger{
    margin: 5px;
}

section#search-forms{
	border: 1px solid #a3b9cb;
    background-color: #eff7fd;
    border-radius: 2px 2px 2px 2px;
}

#tabs-form{
    border: 1px solid white;
    overflow: hidden;
    margin-bottom: 1px;
}

#tabs-form li{
    display: inline;
}

#tabs-form li a{
    height: 32px;
    width:86px;
    display:block;
    background-color: #3488c3;
    float: left;
    text-align: center;
    line-height: 30px;
    letter-spacing: .01em;
    margin-right: 1px;
    color: white;
    font-size: 110%;
}

#tabs-form .form-tab-last{
    margin: 0;
    width:87px;
}

#tabs-form a.selected{
    background-color: #0c4878;
    color:white;
}

/* Filter Form ------------------------------------------------------------------------------- */

#filterForm fieldset{
    padding: 0;
    border-color: white;
    box-shadow: 0 0 2px #777777;
}



#filterForm h4, h4.filterForm{
    background-color: #0c4878;
    background-image: -moz-linear-gradient(0% 100% 60deg, #0c4878, #186cb4);
    color: white;
    font-weight: normal;
    padding:10px 6px;
    margin: 0;
    font: 14px/14px 'Telex', Arial, sans-serif;letter-spacing: 0;
}

.slider{
    margin:3px 10px 8px;
}

.slider-info{
    text-align: center;
    background-color: #f5f5f2;
    padding: 3px;
    margin-top: 3px;
    border-radius: 5px;
}

.box-header{
    background-color: #0c4878;
    background-image: -moz-linear-gradient(0% 100% 60deg, #0c4878, #186cb4);
    color: white;
    font-weight: normal;
    padding:10px 6px;
    margin: 0;
}

.box-content{
    background-color: #D9E5EE;
    padding: 6px 6px 14px 6px;
}

.box-content ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.box-content li{
    clear: both;
}

.box-content span.container{
    margin: 0;
    float: left;
}

.box-content label{font-weight: normal;}
.box-content .min, .box-content .max{float: right; min-width: 60px; text-align: right;}
.box-content .total{margin-left: 3px}



/* Flight box --------------------------------------------------------------------------------------- */

div.flight-box{border: 1px solid #DDDDDD;  padding: 5px;  background-color: #EFF7FD; }
div.flight-box td.airline-icon{ width: 17%; text-align: center; padding-top: 8px;}
div.flight-box table, div.flight-box ul, div.flight-box th{margin: 0; padding:0; background: none;}
div.flight-box table td{padding: 2px;}
td.flight-datas{width: 61%;}
td.flight-price{
    width: 22%;
    border: 1px solid #A3B9CB;
    background-color: #DAE6EF;
    text-align: center;
    height: 90px;
}


ul.flight-link li{display: inline; float: right; margin-top: 8px;}

a.flight-link-details, a.flight-link-save, a.flight-link-share{
    background: url('/images/icons/magnifier.png') no-repeat left 1px;
    padding-left: 20px;
    margin-right: 15px;
    display: block;
}

a.flight-link-save{background-image: url('../images/icons/star_2.png')}
a.flight-link-share{background-image: url('../images/icons/email.png')}


/* Flight details box --------------------------------------------------------------------------------------- */

table.flight-details tr td{background:none; border: 1px solid #ededed;}
tr.header{ background-color: #ececec; font-size: 90%; background-image: -moz-linear-gradient(0% 100% 90deg, #dddddd, #fefefe);}
span.layover-time{color: #0c4878;font-weight: bold;}
span.layover{background: url('../images/icons/time.png') no-repeat scroll left 1px transparent;padding-left: 22px; height: 20px; display: block;}
table.flight-details tr td.no-border{background-color: #f3f3f1; padding:6px;}
table.flight-details td.layover{background-color:#fff6bf;color:#514721;}
span.important{background: url('../images/icons/bullet_error2.png') no-repeat scroll left 4px transparent;
          padding-left: 22px; height: 20px; display: block;}

/* Hotel --------------------------------------------------------------------------------------- */

.hotel-list-box{border-top: 1px solid #CECECE;padding-top: 8px;}

ul.hotel-box-links a{margin:0 15px 0 0; height: 20px; display: block; float: left;
                     background: url('../images/icons/bullet_square.gif') no-repeat left 6px; padding-left: 10px;}
a.hotel-show-map{padding-left: 20px; background: url('../images/icons/map.png') no-repeat left top; height: 20px; display: block; float: left;} 


/* Hotel detail --------------------------------------------------------------------------------------- */

table.rates th{background:none ;}
table.rates tr td{background: none;}
table.rates ul{margin: 0; padding:0; list-style: none;}
table.rates th{
    font-weight: bold;
    height: 25px;
    vertical-align: middle;
    text-align: left;
    border-bottom: 1px solid #a3b9cb;
}

table.rates tr.room-type td{
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
    font-size: 130%;
    border-top: 2px solid #c2dae9;

}

table.rates tr.room-rate{border-top: 1px dotted #c2dae9;border-bottom: 1px dotted #c2dae9;}
li.rate-links a{
    background: url("../images/icons/bullet_square.gif") no-repeat scroll left 5px transparent;
    padding-left: 10px; margin-right: 10px;
}

.odd{background-color: #eff7fd;}
ul.hotel-amenities{float: left;}
ul.hotel-amenities li{
    float: left;
    width: 200px;
    margin:0 10px 0 0;
    list-style-position: inside;

}

ul.hotel-amenities li.last{
    margin-right: none;
}

.hotel-information h2,
.hotel-information h3,
.hotel-information h4,
.hotel-information h5,
.hotel-information h6,
.hotel-information p{
    margin: 2px 0 1px;
}

.hotel-information p{ margin-bottom: 14px;}

.galleria{
    overflow: visible;
}

#hotel-map-canvas{
    width: 670px;
    height: 400px;
}

#hotel-total-top{
    border: 1px solid #E5E5E5;
    padding: 4px 4px 8px 0;
    width: 160px;
    float: right;
    background-color:#F5F5F5 ;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


/* Gmap info bubble */
.infoHotelBubble{
    overflow: visible;
    width: 260px;
    display: block;
    min-height: 100px;
    padding: 0px;
}

.infoHotelBubble ul{
    background-color: white;
    overflow: auto;
    padding: 4px;
    margin-bottom: 3px;

}

.infoHotelBubble li.title{
    max-width: 180px;
    font-weight: bold;
    color: #0c4878;
    display: inline;
    float: left;
    border:none;
    padding: 0;
    margin:0;
}

.infoHotelBubble li.starRating{
    font-size: 80%;
    font-weight: bold;
    color: #0c4878;
    float: right;
    display: inline;
}

.infoHotelBubble img.small-pic{
    width: 50px;
    float: left;
    margin-right: 5px;
}

.infoHotelBubble .info-rates{
    padding: 5px;
}

.infoHotelBubble span.minPrice{
    font-weight: bold;
    color: #0c4878;
}



/* Review section */
.score{
    background: #0c4878;
    background-image: -moz-linear-gradient(0% 100% 90deg, #0c4878, #186cb4);
    color: white;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

.score ul{margin:0; padding:0; list-style: none;}

table.review-rating td{padding: 0;}
td.review-rate{border: 1px solid white; padding-right:6px; background-color: #ececec; width: 100px;}
div.fill{background-color: #a3b9cb; display: block; height: 17px;}

ul.tags{margin:0; padding:0}
ul.tags li{display: inline;}

ul.tags li a{
    float: left;
    margin: 3px;
    padding: 1px 7px;
    display: block;
    border: 1px solid #a3b9cb;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 90%;
}


.review{
    border-top: 1px solid #CECECE;
    padding: 15px 0 0 0px;
}

.review h3{
    margin: 0 0 4px 0;
    font-weight: bold;
    color: #0c4878;
}
.rating-heart li{margin-right: 8px;}
.heart{margin: 0;padding: 0; width: 12px;}



/* Tabs --------------------------------------------------------------------------------------- */

#tab-viewing {
    border-bottom: 1px solid #CECECE;
    height: 35px;
    line-height: 35px;
    width: 100%;
}

#tab-viewing ul{

}

#tab-viewing a{
    background-color: #F8F8F6;
    border:1px solid #CECECE;
    border-bottom: none;
    display: block;
    float: left;
    height: 34px;
    margin-right: 5px;
    padding: 0 15px;
}
#tab-viewing #backToResults {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: none;
    float: right;
    font-weight: bold;
}
#tab-viewing a.selected {
    background-color: white;
    border-bottom: 1px solid white;
}




/* Basket --------------------------------------------------------------------------------------- */

#basket-summary{
    border:1px solid white;
    /*background-image: -moz-linear-gradient(0% 100% 90deg, #efefef, #ffffff);*/
    background-color: #F8F8F6;
}

#basket-summary.flight-details tr td{
    border-left:none;
    border-right:none;
    border:none;
}

#basket-summary tr.bg3 td{
    background-color: #e0edf8;
    padding: 8px 6px;
    /*border-bottom: 1px solid white;*/
    border-top: 1px solid #a3b9cb;
    border-bottom: 1px solid #a3b9cb;
    font-size: 110%;
}

.border-top{
    border-top: 1px solid #a3b9cb;
    padding-top: 4px;
}

#basket-summary tr.sub-total td{
    padding-bottom:16px;
}



/* Packages --------------------------------------------------------------------------------------- */

#gMapHotels_canvas{
    height: 650px;
}

.hotel-map-box{
    border-bottom: 1px solid #ececec;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
/* Options --------------------------------------------------------------------------------------- */




/* pagination */

ul.pagination {
    height: 15px;
    display: block;
    font-size: 82%;
}
a.page-link, span.page-link, span.page-link-prev, span.page-link-next{
    padding:1px 3px 0 3px;
    display: block;
    float: right;
    margin-left: 1px;
    border: 1px solid white;
    margin-right: 1px;
    height: 18px;
}

span.page-link{
    background-color: #efefef;
}


/* Paginator ------------------------------- */

ul.paginator{
    float: right;
}

ul.paginator li{
    display: inline;
}

ul.paginator a{
    background: url('/images/generic/paginator.png') no-repeat -8px -16px;
    width: 8px;
    height: 8px;
    display: block;
    float: left;
    margin-right: 6px;
    margin-top: 16px;
}

ul.paginator a.selected{
    background-position: -8px -8px;
}

ul.paginator a:hover{
    background-position: -8px 0px;
}

ul.paginator a{
    float: left;
}


ul.paginator a.next, ul.paginator a.prev{
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    text-indent: -1000px;
    overflow: hidden;
    background-position: left top;
    margin-top: 8px;
    margin-right: 0px;
}

ul.paginator a.next{
    background-position: left -40px;
    margin-right: 4px;
}

ul.paginator a.prev{
    background-position: left -16px;
}



/* Sorting -----------------------------  */

#sorting{
    border: 0px solid #dddddd;
    height: 25px;
    /*background-color: #ededed;*/
    padding: 5px 0;
    padding-right: 8px;
}

#sorting span{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

#sorting ul li,level-1{
    display: inline;
    width: 80px;
    width: auto !important;
}

#sorting li.level-1{
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #ededed;
    height: 23px;
    border-radius: 3px 3px 3px 3px;
}

#sorting li.level-1:hover{
    border: 1px solid #bbbbbb;
}

#sorting li.level-1.selected{
    background-color: white;
    border: 1px solid #a3b9cb;
}

#sorting div.level-2{
    width:20px;
    float: left;
}

#sorting div.level-2 a{
    text-indent: -300px;
    background: #efefef url('../images/icons/sorting-bullet3.png') no-repeat left top;
    overflow: hidden;
    display: block;
    border: 0px solid red;
    width: 7px;
    height: 5px;
    padding: 0;
    margin:4px 0;
}

#sorting div.level-2 a.selected{
    background-position: left -5px;
}

#sorting div.level-2 a.asc.selected{
    background-position: left -10px;
}

#sorting div.level-2 a.asc{
    background-position: left -15px;
}

#sorting div.level-2 a:hover{
    background-position: left -5px;
}
#sorting div.level-2 a.asc:hover{
    background-position: left -10px;
}

#sorting div.level-3{
    float: left;
    padding-top: 3px;
}

#sorting ul.level-2 li a{
    width: 8px;
    height: 8px;
    background-color: red;
    display: block;
}

#sorting li a.page-link{
    float: right;
    padding:2px 3px;
    margin-right: 4px;
    border: 1px solid #ededed;
    display: block;
    margin-top: 3px;
}

#sorting a.page-link:hover{
    border: 1px solid #bbbbbb;
}


/* Matrix ------------------------------------*/

/* Matrix --------------------------------------- */

#matrix {
    border:1px solid white;
    border:1px solid white;
    position: relative;
}

.matrix-table{
    position: absolute;
    width: 100%;
    background-color: white;
}

#matrix td, #matrix th{
    padding: 4px 4px;
    border:1px solid #beddf8;
    text-align: center;
}

#matrix th.nope{
    background: none;
    border: none;
}

#matrix tr:odd{
    background-color: #efefef;
}

#matrix tr:even{
    background-color: #efefef;
}

#matrix th{
    background-color: #fefefe ;
}

#matrix th img{
    margin-bottom: 3px;
}


#matrix td.minPrice{
    background-color:#e0edf8 ;
    color: #0c4878;
    font-weight: bold;
}

#matrix-toggle{
    margin:157px 10px 3px 0;
    float: right;
}

#matrix-toggle li{
    display:inline;
}

#matrix-toggle li a{
    display:inline;
    border: 1px solid #ddd;
    display:block;
    float: left;
    text-align: center;
    margin-left: 6px;
    padding:2px 3px;
}

#matrix-toggle li a:hover{
    border-color: #F26522;
}

#matrix-toggle li a.selected{
    color: white;
    background-color: #F26522;
    border-color: #F26522;
}

.cheapest{
    background-color: #beddf8;
}

/* Dialog */


#dialog-message{display: none;}



/* Hotel thumb */

.hotel-thumb{
    border: 1px solid #97d1f4;
    overflow: visible;
    width: 150px;
    float: left;
    margin-right: 17px;
    padding: 7px;
    margin-bottom: 10px;
    position: relative;
}

.hotel-thumb ul{
    list-style: none;
}

.bg-1{
    background-color: #f5fafe;
}

.bg-2{
    background-color: #e7f0f7;
}

.hotel-thumb.selected{
    border-color: #C6D880;
    cursor: pointer;
    cursor: hand;
}

#viewedHotelsContainer .hotel-thumb-off, #viewedHotelsContainer .hotel-thumb-on, #viewedHotelsContainer .hotel-thumb-remove{
    background: url('../images/generic/bg_compare_off.png') no-repeat left top;
    width: 150px;
    height: 62px;
    display: block;
    position: absolute;
    text-align: center;
    top:7px;
    left: 7px;
    padding:43px 0 0 0px;
    font-size: 100%;
    display: none;
}

#viewedHotelsContainer .hotel-thumb-on{
    background-image: url('../images/generic/bg_compare_on.png');
    display: none;
}

#viewedHotelsContainer .hotel-thumb-remove{
    background-image: url('../images/generic/bg_compare_remove.png');
    display: none;
}


.hotel-thumb.last{
    margin-right: 0px;
}

.hotel-thumb img{

}

.hotel-thumb .hotel-info li{
    margin: 3px 0;
}

.hotel-thumb .hotel-name{
    font-weight: bold;
    margin: 7px 0 3px 0;
    color: #0c4878 ;
}

.hotel-thumb .hotel-rating{
    margin: 6px 0;
}

.hotel-thumb .img-selected{
    width: 100px;
    height: 16px;
    position: absolute;
    border: 1px solid #92CAE4;
    background-color: #D5EDF8;
    color: #205791;
    top:80px;
    left: 25px;
    padding: 3px 0 3px 10px;
}

.hotel-thumb.selected .img-selected{
    border-color: #E6EFC2;
    color: #264409;
    background: #E6EFC2 url('../images/icons/16-em-check.png') no-repeat 85px 2px;
}


.filter-box{
    -moz-box-shadow: 1px 1px 2px #888;
    -webkit-box-shadow: 1px 1px 2px #888;
    box-shadow: 1px 1px 2px #888;
    border:1px solid #edbc55;

    font-size: 80%;
    letter-spacing: .2px;
    float: left;
    display: block;
    line-height: 20px;
    padding-left: 23px;
    padding-top: 3px;
    padding-right: 6px;
    margin-right: 10px;
    background: url('/images/icons/bg_filter_icon_off.png') no-repeat 5px 7px;
    background-color: #ffedbb;
    cursor: pointer;
    cursor: hand;
}

.filter-box:hover{
    text-decoration: underline;
}

.filter-box p{
    margin-bottom: 5px;
}

li.bg-filter-active{
    background-color: white;
}


#hotelComparison td{
	padding: 3px 0;
}

/* Booking */

table.data{
	margin: 0;
}

table.data th, table.data td.th
{
  background-color: #e7eef6;
  white-space: nowrap;
}

table.data td, table.data th
{
  border: 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

table.data tr
{
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

table.data td.text-center, th.text-center{
	text-align: center;
}

table.data td.key, td.grey{
	background-color: #cccccc;
	width: 100px;
	color: #333333;
	font-weight: bold;
}

table.data td.info{
	font-weight: bold;
	color: #4c4c4c;
	width: 35px;
}